---
import { Image } from 'astro:assets';
const { data, bgColor, textColor } = Astro.props;
import image from '../assets/image-daniel.jpg';
---

<article>
    <header>
        <Image src={image} alt="profile picture" />
        <div class="wrap-text">
            <p class="name">Matias Luduena</p>
            <p class="graduate">Verified Graduate</p>
        </div>
    </header>
    <h2>
        I received a job offer mid-course, and the subjects I learned were
        current, if not more so, in the company I joined. I honestly feel I got
        every penny’s worth.
    </h2>
    <p class="body-text">
        “ I was an EMT for many years before I joined the bootcamp. I’ve been
        looking to make a transition and have heard some people who had an
        amazing experience here. I signed up for the free intro course and found
        it incredibly fun! I enrolled shortly thereafter. The next 12 weeks was
        the best - and most grueling - time of my life. Since completing the
        course, I’ve successfully switched careers, working as a Software
        Engineer at a VR startup. ”
    </p>
</article>

<style>
    article {
        background-color: rgb(160, 89, 227);
        color: white;
        padding: 2rem;
        border-radius: 10px;
        display: flex;
        flex-direction: column;
        gap: 1.3rem;
    }

    header {
        display: flex;
        align-items: center;
        gap: 1rem;
    }

    img {
        border-radius: 50%;
        width: 40px;
        height: 40px;
        border: 2px solid rgb(141, 47, 141);
    }

    .name {
        color: var(--light-blue);
        font-size: 16px;
    }

    .graduate {
        color: var(--light-gray);
    }

    h2 {
        color: var(--light-blue);
    }

    .body-text {
        color: var(--light-gray);
    }
</style>
